.header__pay{
    background-color: #f5f5f5;
    border-top: 
    1px solid rgba(0,0,0,.09);
}
.header__pay-address{
    background-color: #fff;
    margin-top: 30px;
    border-radius: 2px;

}
.header-address{
    padding: 30px 20px ;
}
.header__pay-address-title{
    font-size: 1.8rem;
    color: var(--primary-color);
    margin-bottom: 20px;
    font-weight: 450;
}
.title-icon{

}
.title-text{

}
.input-top-name{
height: 38px;
width: 30%;
padding: 10px;
font-size: 14px;
}
.input-top-phone{
height: 38px;
width: 30%;
padding: 10px;
font-size: 14px
}
.input-container-address1{
    height: 38px;
    width: 60.3%;
    padding: 10px;   
    font-size: 14px;
    margin-top: 20px;
}
.input-container-address2{
    height: 38px;
    width: 60.3%;
    padding: 10px;
    font-size: 14px;
    margin-top: 20px;
}